ol,ul{
  list-style: none;
}
a{
  color: inherit;
}
div a {
  color: #000000;
}
div h1 {
  background-color: #000000;
  color: #FDFEFE;
}
div h2 {
  background-color: #DE3163;
  font-size: 2em;
  color: #000000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
div h3 {
  background-color: #000000;
  color: #FFFFFF;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FDFEFE;
  font-size: 1em;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}
.vid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}
header{
  width: 100%;
}
.logo_img{
  position: absolute;
  top: 0px;
  left: 0px;
}

header nav ul{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: max-content;
}
header nav ul li{
  margin-bottom: 5px;
  color: #000000;
  width: max-content;
}
header nav ul li:nth-child(1){
  float: left;
}
header nav ul li:nth-child(2){
  float: right;
}
header nav ul li:nth-child(3){
  float: right;
} 
.top_navigation{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, h4, h5{
  font-weight: bold;
  text-align: center;
}
h1{
  font-size: 2.5em;
  line-height:1.5em;
}
h3{
  font-size: 1.266em;
  line-height:1.3em;
}
h4{
  font-size: 1.125em;
}
li{
  padding-left: 10px;
  font-weight: bold;
}
p ~ p{
  padding-top: 5px;
}
p {
  font-weight: bold;
}
nav{
  height: 30px;
  margin-top: 10px;
}
section{
  padding: 10px 0;
}
div div{
  padding: 0 10px;
}
main{
  padding: 0 10px;